* {
  margin: 0;
}

@font-face {
  font-family: "KodeMono";
  src: local("KodeMono"),
  url(../assets/fonts/KodeMono-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "KodeMono-SemiBold";
  src: local("KodeMono-SemiBold"),
  url(../assets/fonts/KodeMono-SemiBold.ttf);
}

@font-face {
  font-family: "KodeMono-Medium";
  src: local("KodeMono-Medium"),
  url(../assets/fonts/KodeMono-Medium.ttf);
}

@font-face {
  font-family: "KodeMono-Bold";
  src: local("KodeMono-Bold"),
  url(../assets/fonts/KodeMono-Bold.ttf);
}

.card {
  background-color: white;
}

.platformIcon {
    margin: 0 0.15em;
}

.containerSlider {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url(../assets/login1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  animation: bgChange 20s linear infinite;
}

@keyframes bgChange {
  0% {
    background-image: url(../assets/doom.jpeg);
  }
  20% {
    background-image: url(../assets/doom.jpeg);
  }
  25% {
    background-image: url(../assets/gow.jpg);
  }
  45% {
    background-image: url(../assets/gow.jpg);
  }
  50% {
    background-image: url(../assets/halo.jpg);
  }
  70% {
    background-image: url(../assets/halo.jpg);
  }
  75% {
    background-image: url(../assets/mario.png);
  }
  95% {
    background-image: url(../assets/mario.png);
  }
}

.sliderContent {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}

.contentS {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.login {
  background-color: #151515;
  width: 400px;
  height: 400px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.login h1 {
  font-family: "KodeMono-Bold";
  align-items: center;
  margin: auto;
  text-align: justify;
}

.loginInput {
  width: 250px;
  height: 2.4em;
  margin: 5px auto;
  border-radius: 15px;
  padding: 0.3em;
}

.loginExtra {
  align-items: center;
  text-align: center;
  font-family: "KodeMono";
  margin: 0.3em auto;
}

.inputContainer {
  font-family: "KodeMono";
  margin: 0.3em auto;
}

.loginHeader {
  margin: 0.3em auto;
}

.forgot {
  text-decoration: none;
  color: white;
  margin: 0.3em auto;
}